<div class="history linked"
    data-project="<%= project %>" 
     data-page="<%= page %>" 
     data-date="<%= date %>">
    <p><%= date %></p>
    <p><%= project %></p>
    <p><%= page %></p>
</div>