<link rel="stylesheet" href="/css/main/project/addProject.css" />
<script src="/js/main/project/configProject.js" defer></script>

<div class="add-project-container">
  <div class="form-wrapper">
    <div class="form-header">
      <h2><%= (flag == "add" ? "Add new" : "Edit") %> project</h2>
      <span class="required-note">Required fields are marked with an asterisk (*).</span>
    </div>

    <form action="/dashboard/project/<%= flag %>Project" id="projectForm" method="POST">
      <% if(locals.id) { %>
        <input type="hidden" name="projectId" value="<%= id %>">
      <% } %>
      <div class="form-group">
        <input type="text" id="projectName" name="projectName" class="form-input" placeholder="Project name *" value="<%= locals.projectName ? projectName : '' %>" />
      </div>

      <div class="form-group">
        <textarea id="shortDescription" name = "shortDescription" class="form-input textarea" placeholder="Short description" rows="2"><%= locals.shortDescription ? shortDescription : '' %></textarea>
      </div>

      <div class="form-group row">
        <label class="form-label">Thumbnail</label>
        <input type="file" class="btn-outline" name="" id="" value="Add File" multiple>
      </div>

      <div class="form-group row">
        <label class="form-label">Pages
          <span class="sub-label">( Optional ) [ Limited 10 pages ]</span>
          <br>
          <input type="text" name="pageName" class="form-input" id="pageName" placeholder="Enter page name">
        </label>
        <div id="pageList"></div>
      </div>

      <div class="form-group visibility-group">
        <div class="visibility-info">
          <label class="form-label">Choose visibility *</label>
          <span class="sub-label">Choose who can see this project</span>
        </div>

        <div class="toggle-wrapper" id="switchVisibility">
          <span class="toggle-label active">Public<i class="fi fi-rr-lock"></i></span>
          <label class="switch">
            <input type="checkbox"/>
            <span class="slider round"></span>
          </label>
          <span class="toggle-label"><i class="fi fi-rr-lock-open-alt"></i>
            Private
          </span>
        </div>
      </div>

      <div class="form-actions">
        <a href="/dashboard/project" class="btn-outline wide" style="
                      text-decoration: none;
                      display: flex;
                      justify-content: center;
                      align-items: center;
                    ">
          Cancel
        </a>
        <button type="submit" class="btn-fill wide"><%= (flag == "add" ? "Add new" : "Edit") %> Project</button>
      </div>
    </form>
  </div>
</div>