<div class="history linked"
    data-project="<%= project %>" 
    data-user="<%= user %>" 
    data-page="<%= page %>" 
    data-date="<%= date %>">
    <p><%= date %></p>
    <p><%= user %></p>
    <p><%= project %></p>
    <p><%= page %></p>
</div>