<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/shared/default.css"> 
    <link rel="stylesheet" href="/css/main/sidebar.css"> 
    <link rel="stylesheet" href="/css/main/topbar.css"> 
    <link rel="stylesheet" href="/css/main/content.css"> 
    <link rel="stylesheet" href="/css/main/popup.css"> 
    <script src="/js/main/popup.js" defer></script>
    <script src="/js/main/sidebar.js" defer></script>
</head>
<body class="<%= user && user.theme ? user.theme : '' %>"> 
    <%- include("popup") %>
    
    <!-- 디버깅용 빨간화면 -->
    <!-- <div style="background: red; color: white; padding: 20px; font-weight: bold; z-index: 9999; position: relative;">
        DEBUG USER: <%= JSON.stringify(user) %>
    </div> -->

    <%- include("sidebar") %>
    <div class="contentContainer">
        <%- include("topbar") %>
        <div class="content">
            <div class="title">
                <h2><%= title %></h2>
                <p><%= subtitle %></p>
            </div>
            <%- include(content) %>
        </div>
    </div>
</body>
</html>