<h1 class="auth-title"><%= __('signinTitle') %></h1>

<form action="/auth/signin" method="POST" id="userForm">
  <p><%= __('signinErrorMsg') %></p>
  <div class="input-group">
    <input type="text" name="userid" placeholder="<%= __('signIDMsg') %>" class="input-field" required />
  </div>
  <div class="input-group" style=" margin-bottom: 0; ">
    <input type="password" name="password" placeholder="<%= __('signPwdMsg') %>" id="password" class="input-field" required />
    <i class="fas fa-eye-slash toggle-pw" onclick="togglePassword(this)"></i>
  </div>
  <div class="signSubmenu">
    <div class="checkbox-group">
      <input type="checkbox" name="remember" id="remember" class="remember">
      <label for="remember"><%= __('signinRemMsg') %></label>
    </div>
    <a href="/auth/forgot-password" class="forgot-pw"><%= __('signinForgotMsg') %></a>
  </div>
  
  <input type="submit" class="btn-submit" value="<%= __('signinTitle') %>" />
</form>

<div class="auth-footer">
   <%= __('signinSignupMsg') %> <a href="/auth/signup"><%= __('signinSignupButtonMsg') %></a>
</div>

<div class="social-login">
  <a href="/auth/google" class="social-btn google-btn"
    ><i class="fab fa-google"></i
  ></a>
  <a href="/auth/kakao" class="social-btn kakao-btn"
    ><i class="fas fa-comment"></i
  ></a>
</div>
