<script>
    <% let text = [
        'verifyButtonMsg',
        'verifyNewPasswordButtonMsg',
    ] %>
    <% text.forEach(str => { %>
        document.textData['<%= str %>'] = '<%= __(str) %>';
    <% }); %>
</script>
<script src="/js/auth/verify.js" defer></script>
<h1 class="auth-title"><%= __('forgotTitle') %></h1>

<form action="/auth/forgot-password" method="POST" id="userForm" novalidate>
  <p><%= __('forgotErrorMsg') %></p>
  <div class="input-group">
    <input type="text" name="userid" placeholder="<%= __('signIDMsg') %>" class="input-field" />
  </div>
  <div class="input-group">
    <input type="email" name="useremail" placeholder="<%= __('signupEmailMsg') %>" class="input-field" />
  </div>
  <div class="input-group disable">
    <input type="hidden" name="verifyCode" placeholder="<%= __('verifyTitle') %>" class="input-field" />
  </div>
  <div class="input-group disable">
    <input type="hidden" name="newPassword" placeholder="<%= __('verifyNewPassword') %>" class="input-field" />
  </div>

  <button type="submit" class="btn-submit" id="submitBtn"><%= __('forgotButtonMsg') %></button>
</form>

<div class="auth-footer">
  <%= __('forgotReturnMsg') %> <a href="/auth/signin"><%= __('signinTitle') %></a>
</div>